<h1>Menu!</h1>
<div class="btn-group">
  <% @sections.each do |section| %>
    <%= link_to section.name, menu_path(section_id: section.id), class: "btn #{ params[:section_id] == section.id.to_s ? 'btn-primary' : 'btn-secondary' }" %>
  <% end %>
</div>

<div class="well">
  <%= form_tag nil, method: 'get' do %>
   <%= hidden_field_tag :section_id, params[:section_id] %>
   <%= select_tag :sort_option, options_for_select([['Name', 'name'], ['Price', 'price']]) %>
   <%= select_tag :sort_by, options_for_select([['Asecending', 'asc'], ['Desencding', 'desc']]) %>
   <%= submit_tag "Sort", class: "btn btn-sm btn-success" %>
  <% end %>
</div>
<% @food_items.each do |food| %>
  <div class="card">
    <div class="card-header">
      <%= link_to food.name, food_item_path(food.id) %>
    </div>
    <div class="card-block">
      <%= image_tag(food.image_url) %>
    </div>
    <%= link_to "Order", new_food_item_order_path(food), class: "btn btn-primary" %>
  </div>
<% end %>
